<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiInficajaSOAPBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cajatonaya2019.sytes.net:81/WEBSERVIINFICAJA23_WEB/awws/WebServiInficaja.awws"
                binding="basicHttpBinding" bindingConfiguration="WebServiInficajaSOAPBinding"
                contract="WebServiInficaja.WebServiInficajaSOAPPortType" name="WebServiInficajaSOAPPort" />
        </client>
    </system.serviceModel>
</configuration>